body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 3%;
    font-size: 80px;
    font-weight: 100;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    margin-bottom: 10px;
    margin-top: 0;
}

.buttons button {
    width: 143px;
    height: 60px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 40px;
    background: none;
}

.buttons button:hover {
    scale: 1.05;
    transition: 500ms;
    cursor: pointer;
}

.buttons button:active{
    scale: 1.1;
    transition: 100ms;
    cursor: pointer;
}

.active {
    transition: 200ms;
    cursor: pointer;
    transition: 100ms;
    scale: 1.05;
    box-shadow: 1px 1px 3px rgb(128, 128, 128);
    /* color: rgb(116, 116, 116); */
    /* background-color: rgb(184, 184, 184); */
}

.colorBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.colorPicker {
    
    /* border: 2px solid rgb(202, 202, 202);
    border-radius: 50%; */
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 35px;
    height: 35px;
}

.colorPicker::-webkit-color-swatch {
    border-radius: 50%;
    /* border: 2px solid black; */
}

.colorPicker::-webkit-color-swatch {
    border-radius: 50%;
}

.board {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
}

.gridContainer {
    display: grid;
    background-color: white;
    /* border: 2px solid rgb(90, 90, 90); */
    box-shadow: 1px 1px 7px rgb(128, 128, 128);
    width: 800px;
    height: 800px;
}

.sizeSliderDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sizeSliderDiv p {
    font-size: 30px;
    font-weight:bold;
    margin-bottom: 4px;
}

.sizeSlider {
    -webkit-appearance: none;
    width: 260px;
    height: 20px;
    outline: solid 1px rgb(124, 124, 124);
    border-radius: 10px;
    
}

.sizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: rgb(124, 124, 124);
    cursor: pointer;
}

